# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
C++/Sandbox/GenericMessage/main.cpp
C++/Sandbox/GenericMessage/makefile
C++/Sandbox/Workplace/main.cpp
C++/Sandbox/Workplace/makefile

build/
target/

.idea/
__pycache__
.vscode
executable
.vscode/settings.json
bash/Data/file.json
run_tests
C++/Move Semantics/template/main
